header.header
	.header-top
		img(src="./static/images/content/banner-logo.png", alt="")
	.container
		.header-bottom
			.row.header-bottom__row
				.col-4.col-lg-4.col-sm-6.col-12.col-4__first
					a(href="#")
						img(src="./static/images/content/logo.png", alt="картинка")
				.col-4.col-lg-4.col-sm-6.col-12.col-4__center
					.phone-block
						.phone-block__text
							a(href="#").phone-block__phone 8 495 565-35-25
							p.phone-block__text Каждый день с 9 до 22
						a(href="#").phone-block__link-call Заказать звонок
				.col-4.col-lg-4.col-sm-6.col-12.col-4__end
					img(src="./static/images/content/brand-name.png", alt="")