extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ../modules/banner/banner
	include ../modules/sections/sections
	include ../modules/collections/collections
	include ../modules/offers/offers
	include ../modules/design/design
	include ../modules/technologies/technologies
