@import "footer/footer";
@import "header/header";
@import "banner/banner";
@import "sections/sections";
@import "collections/collections";
@import "offers/offers";
@import "design/design";
@import "technologies/technologies";
@import "navigation/navigation";
@import "small-blocks/small-blocks";