section.section.section--collections
	h1.collections-title Популярные коллекции
	.container
		.row--collections.owl-carousel.collections-carousel
			.collections-item
				img(src="./static/images/content/rosemary.png", alt="розмари").collections-item__img
				.collections-item__link
					a(href="#").collections-item--one-link Розмари
			.collections-item
				img(src="./static/images/content/clyde.png", alt="клайда").collections-item__img
				.collections-item__link
					a(href="#").collections-item--two-link Клайда
			.collections-item
				img(src="./static/images/content/swan.png", alt="суон").collections-item__img
				.collections-item__link
					a(href="#").collections-item--three-link Суон
			.collections-item
				img(src="./static/images/content/contemporary.png", alt="контемпорари").collections-item__img
				.collections-item__link
					a(href="#").collections-item--four-link Контемпорари