.collections-title
	font-size 24px
	font-family 'Roboto', sans-serif
	text-align center
	line-height 28px
	color: #142f4f
	padding 41px 0 25px
	@media screen and (max-width $grid-xs-max)
		font-size 20px


.collections-item
	&__img
		width 100%

.collections-item

	&__link
		display flex
		align-items center
		justify-content center
		height 45px
		margin-top -1px
		background-color: #142f4f

.collections-item
	&--one-link
		color: #ffffff
		font-size 18px
		width 100%
		line-height 21px
		text-align center
		font-family 'Roboto', sans-serif
		font-style normal
		font-weight normal
		background #142F4F

	&--two-link
		color: #ffffff
		font-size 18px
		width 100%
		line-height 21px
		text-align center
		font-family 'Roboto', sans-serif
		font-style normal
		font-weight normal
		background #142F4F

	&--three-link
		color: #ffffff
		font-size 18px
		width 100%
		line-height 21px
		text-align center
		font-family 'Roboto', sans-serif
		font-style normal
		font-weight normal
		background #142F4F

	&--four-link
		color: #ffffff
		font-size 18px
		width 100%
		line-height 21px
		text-align center
		font-family 'Roboto', sans-serif
		font-style normal
		font-weight normal
		background #142F4F	

.col-sm
	&__12
		@media screen and (max-width $grid-sm-max)
			max-width 70%

.row
	&--collections
		@media screen and (max-width $grid-sm-max)
			display flex
			flex-direction column
			align-items center
	.col-3
		@media screen and (max-width $grid-md-max)
			padding-bottom 45px	