section.section.section--offers
	.container
		.col-12.offers__title Спец предложения
		.offers__items.owl-carousel.offers-carousel
			.offers__wrapper
				.offers__item
					a(href="#").offers__item-link
						img(src="./static/images/content/shower.png", alt="").offers__shower-img
					.offers__item-descr
						.offers__item-rating
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span.offers__item-reviews
								a(href="#").offers__item-reviews-link Отзывов: 0
						a(href="#").offers__item-text-link Душевая система Lemark Tropic LM7002C
						.offers__item-country
							img(src="./static/images/content/czech.png", alt="Чехия").offers__item-country-flag
							span.offers__item-country-name Чехия
						span.offers__item-price 15 830 руб.
						.offers__item-btns
							a(href="#").offers__button-more Подробнее
							a(href="#").offers__item-like-btn
								+icon('like', 'offers__item-like-svg')
			.offers__wrapper
				.offers__item
					a(href="#").offers__item-link
						img(src="./static/images/content/toilet-complete1.png", alt="").offers__shower-img
					.offers__item-descr
						.offers__item-rating
							span
								img(src="./static/images/content/gold-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gold-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gold-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gold-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span.offers__item-reviews
								a(href="#").offers__item-reviews-link Отзывов: 1
						a(href="#").offers__item-text-link Комплект унитаза Gaberit Renova Nr.1 203050000 с инсталляцией Gaberit Duofix Delta 458.126.00.1
						.offers__item-country
							img(src="./static/images/content/switzerland.png", alt="Швейцария").offers__item-country-flag
							span.offers__item-country-name Швейцария
						span.offers__item-price 20 820 руб.
						.offers__item-btns
							a(href="#").offers__button-more Подробнее
							a(href="#").offers__item-like-btn
								+icon('like', 'offers__item-like-svg')
			.offers__wrapper
				.offers__item
					a(href="#").offers__item-link
						img(src="./static/images/content/toilet-complete2.png", alt="").offers__shower-img
					.offers__item-descr
						.offers__item-rating
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span.offers__item-reviews
								a(href="#").offers__item-reviews-link Отзывов: 0
						a(href="#").offers__item-text-link Комплект унитаза Vitra S 50 5956B003-0101 с инсталляцией Grohe Rapid SL 38772001
						.offers__item-country
							img(src="./static/images/content/turkey.png", alt="Турция").offers__item-country-flag
							span.offers__item-country-name Турция
						span.offers__item-price 19 716 руб.
						.offers__item-btns
							a(href="#").offers__button-more Подробнее
							a(href="#").offers__item-like-btn
								+icon('like', 'offers__item-like-svg')
			.offers__wrapper
				.offers__item
					a(href="#").offers__item-link
						img(src="./static/images/content/bath.png", alt="").offers__shower-img
					.offers__item-descr
						.offers__item-rating
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span
								img(src="./static/images/content/gray-star.png", alt="").offers__item-rating-img
							span.offers__item-reviews
								a(href="#").offers__item-reviews-link Отзывов: 0
						a(href="#").offers__item-text-link Акриловая ванна Aquanet Bright 180x70
						.offers__item-country
							img(src="./static/images/content/russia.png", alt="Россия").offers__item-country-flag
							span.offers__item-country-name Россия
						span.offers__item-price 15 830 руб.
						.offers__item-btns
							a(href="#").offers__button-more Подробнее
							a(href="#").offers__item-like-btn
								+icon('like', 'offers__item-like-svg')
																										