.section--technologies
	@media screen and (max-width $grid-xs-max)
		display none

.information-block

	&__title
		padding 41px 0 24px
		font-size 24px
		font-style normal
		font-weight bold
		font-family 'Roboto', sans-serif
		line-height 28px
		color: #142f4f

	&__row-two
		align-items start
		padding-bottom 70px
		display flex
		justify-content space-between

	&__text
		text-align start
		font-size 18px
		line-height 21px
		font-style normal
		font-weight normal
		font-family 'Roboto', sans-serif
		color: #000
		@media screen and (max-width $grid-lg-max)
			font-size 16px
			line-height 19px
		@media screen and (max-width $grid-md-max)
			font-size 14px
			line-height 15px
		@media screen and (max-width $grid-sm-max)
			font-size 18px
			line-height 20px	

	&__img
		width 100%
		@media screen and (max-width $grid-sm-max)
			padding-bottom 25px

hr
	border: none
	height 1px
	background #eaeaea
	@media screen and (max-width $grid-xs-max)
		display none