section.section
	h1.sections-title Популярные товарные разделы
	.container
		.row--sections.owl-carousel.sections-carousel
			.sections-item
				img(src="./static/images/content/faucets.png", alt="смесители").sections-item__img
				.sections-item__link
					a(href="#").sections-item__link.sections-item--one-link Смесители
			.sections-item
				img(src="./static/images/content/bathtubs.png", alt="смесители").sections-item__img
				.sections-item__link
					a(href="#").sections-item__link.sections-item--two-link Ванны
			.sections-item
				img(src="./static/images/content/sinks.png", alt="смесители").sections-item__img
				.sections-item__link
					a(href="#").sections-item__link.sections-item--three-link Раковины
			.sections-item
				img(src="./static/images/content/dryers.png", alt="смесители").sections-item__img
				.sections-item__link
					a(href="#").sections-item__link.sections-item--four-link Полотенцесушители