.banner
	background-size 100%
	background-repeat no-repeat

	&__img
		width 100%

.banner-m
	background-size cover
	background-repeat no-repeat

	&__img
		width 100%
		@media screen and (min-width $grid-xs-max)
			display none

