footer.footer
	.container
		.row.footer__row

			.col-3.col-xl-3.col-lg-3.col-sm-6.col-xs-12.footer__col
				h1.footer__col-title Популярные группы
				.col-3__links
					a(href="#").footer__col-link Раковины
					a(href="#").footer__col-link Смесители
					a(href="#").footer__col-link Полотенцесушители
					a(href="#").footer__col-link Ванны

			.col-3.col-xl-3.col-lg-3.col-sm-6.col-xs-12.footer__col
				h1.footer__col-title Информация
				p.footer__col-text Интернет-магазин Сантехника-Тут является официальным дистрибьютером продукции немецкой комании Грое в России.

			.col-3.col-xl-3.col-lg-3.col-sm-6.col-xs-12.footer__col
				h1.footer__col-title Контакты

				p.footer__phone-number.footer__phone-number-first 8 800 555-66-13
				p.footer__phone-text Бесплатные звонки по России

				p.footer__phone-number 8 812 748-28-77
				p.footer__phone-text Многоканальный номер

				p.footer__phone-number 8 861 205-25-67
				p.footer__phone-text Офис продаж в Санкт-Петербурге

				p.footer__phone-number 8 495 565-35-25
				p.footer__phone-text Офис продаж в Краснодаре

				p.footer__phone-number 8 863 322-00-18
				p.footer__phone-text Офис продаж в Ростове-на-Дону

			.col-3.col-xl-3.col-lg-3.col-sm-6.col-xs-12.footer__col
				h1.footer__col-title Продавец
				p.footer__col-seller-text Сантехника-Тут
				p.footer__col-seller-text ООО «Элит Групп»
				p.footer__col-seller-text ОГРН 1115029005123
				p.footer__col-seller-text ИНН 5029152090

		.row
			.col-12
				p.footer__bottom-text Сайт носит исключительно информационный характер, и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437(2)





